.list a:hover{
    background-color: #0187e7;
    color: #fff !important;
    cursor: pointer;
}

.sidebar-bg{
    background-color: #2e3351 !important;
}

.text-color{
    color: #b4b8d7 !important;
}