.main {
  text-align: center;
}
*{margin: 0px; padding: 0px; box-sizing: border-box;  }

body {
  background-color: #17a2b8;
  height: 100vh;
  font-family: Montserrat;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.main-dashboard{
  display: flex;
}

.sidebar{
  width: 12%;
  background-color:#2e3351;
  height: 100vh;
  flex-direction: column;
  color: #76809e;
}

.sidebar-close{
  width : 4% !important;
  /* transition: width 1s; */
}

.sidebar ul li{
  list-style: none;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 20px;
}

.sidebar .info li{
  padding: 20px 0px 20px 0px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  opacity: .7;
}

.sidebar .info li small{
  font-size: 12px;
  font-weight: 100;
}

.sidebar .info li a{
  font-size: x-large ;
  text-decoration: none;
  color: inherit;
}

.sidebar .info li a:hover{
  cursor: pointer;
}

.sidebar .nav-options li{
  font-size: 12px;
  color: #b4b8d7;
}

.sidebar .nav-options li a{
  text-decoration: none;
  color: inherit;
}

.top-nav-main{
  width: 88%;
  height: 2%;
 background-color:#2e3351;
}

.top-nav-main-close{
  width: 96% !important;
}

.top-nav{
  background-color: #edf2f6;
  border-top-left-radius: 51px;
  padding: 14px 15px;
  
}

.top-nav ul li{
list-style: none;
display: inline-flex;
color: #76809e;
}


.icon-size{
  font-size: x-large;
}